table {
  border-radius: 1%;
  border: 2px solid #000;
  text-align: center;
  width: 300px;
  margin: 10%;
  padding: 1%;
}
th {
  border: 2px solid;
  border-radius: 10px 10px 10px;
}
td {
  border: 2px solid;
  border-radius: 10px 10px 10px;
}
